

.Modal {
  position: absolute;
  color: black;
  font-weight: bold;
  top: 20%;
  left: 35%;
  width: 20%;
  height: 15%;
  background-color: #ff99cc;
  border: black solid 3px;
  border-radius: 15px;
}
  
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D3D3D3E6;
}



@media only screen and (max-width: 600px) {
  .Modal {
    width: 35%;
    height: 25%;
  }
}